$shortcutYellow: #ffdc00;

$weu: lighten($westernEurope, 18%);
$eeu: lighten($easternEurope, 7%);
$me: lighten($middleEast, 10%);
$as: lighten($asia, 2%);
$sea: lighten($asia, 17%);
$sa: lighten($southAmerica, 14%);
$ca: #E2ECB9;
$af: #F5E696;

$weuDark: desaturate(darken($weu, 30%), 10%);
$eeuDark: desaturate(darken($eeu, 30%), 10%);
$meDark:  desaturate(darken($me,50%), 20%);
$asDark:  desaturate(darken($as,30%), 10%);
$afDark:  desaturate(darken($af,50%), 20%);
$caDark:  desaturate(darken($ca,50%), 20%);
$saDark:  desaturate(darken($sa,30%), 10%);

$weuLight: lighten($weu, 10%);
$eeuLight: lighten($eeu, 10%);
$meLight:  lighten($me,12%);
$asLight:  lighten($as,25%);
$afLight:  lighten($af,15%);
$caLight:  lighten($ca,13%);
$saLight:  lighten($sa,25%);

.weu { color: $weu; }
.eeu { color: $eeu; }
.eu { color: $weu; }
.me { color: $me; }
.as { color: $as; }
.sea { color: $sea; }
.sa { color: $sa; }
.ca { color: $ca; }
.af { color: $af; }

.weuDark { color: $weuDark; }
.eeuDark { color: $eeuDark; }
.euDark { color: $weuDark;  }
.meDark { color: $meDark; }
.asDark { color: $asDark; }
.afDark { color: $afDark; }
.caDark { color: $caDark; }
.saDark { color: $saDark; }

.weuLight { color: $weuLight; }
.eeuLight { color: $eeuLight; }
.meLight { color: $meLight; }
.asLight { color: $asLight; }
.afLight { color: $afLight; }
.caLight { color: $caLight; }



.map-position-debug {
  display:none;
}

.Board {

  //background:url(/images/tsboard.jpg) no-repeat;
  //border:1px solid #b9bdb7;
  position:relative;
  width:1140px;
  height:730px;
  margin-bottom:3rem;
  margin-top:1rem;

  svg {
    position:relative;
    z-index:100;
  }
  
  text {
    @extend %noSelect;
    cursor: default;
  }


  .node-eeu .node-bg { fill: $eeu; }
  .node-weu .node-bg, .node-eu .node-bg { fill: $weu; }
  .node-bg-eu { fill: $eeu; }

  .node-weu .node-btl, .node-eeu .node-btl {
    .node-title-bg {
      fill: $weuDark;
    }
  }

  .node-me .node-bg { fill:$me; }
  .node-me.node-btl .node-title-bg { fill: $meDark; }

  .node-as .node-bg, .node-sea .node-bg { fill:$as; }
  .node-bg-sea { fill: $sea; }
  .node-as.node-btl, .node-sea.node-btl {
    .node-title-bg { fill: $asDark; }
  }

  .node-af .node-bg { fill:$af; }
  .node-af.node-btl .node-title-bg { fill: $afDark; }

  .node-ca .node-bg { fill:$ca; }
  .node-ca.node-btl .node-title-bg { fill: $caDark; }

  .node-sa .node-bg { fill:$sa; }
  .node-sa.node-btl .node-title-bg { fill: $saDark; }

  .node {
    stroke-width:0;
  }

  .node-title-bg {
    stroke-width:0;
    fill:rgba(#fff,0.6);
  }
  .node-title-text, .node-stab {
    stroke:rgba(#000, 0.8);
    stroke-width:0.5;
    fill: rgba(#000,0.8);
  }
  .node-stab {
    font-weight:bold;
    stroke-width:0;
  }
  .node-title-text {
    font-size:11px;
  }

  .node-bg {
    stroke: rgba(#000,1);
    stroke-width:0.2px;
  }

  .node-bg-hidden {
    display:none;
  }

  .node-line {
    stroke: rgba(#000, 0.4);
    stroke-width:0.3px;
  }

  .node-btl {
    .node-title-text, .node-stab {
      stroke:rgba(#fff, 0.8);
      stroke-width:0;
      fill: rgba(#fff,0.8);
      //text-anchor:middle;
    }

    .node-title-bg {
      //fill:rgba(#000, 0.5);
    }

    
    &.node-weu, &.node-eeu {
      .node-title-bg {
        fill: darken($westernEurope, 17%);
      }
    }
  
  }

  .node-usa {
    .node-bg { fill:$pageBg; stroke: $solarized-blue; stroke-width:1px }
    .node-title-text { fill:$solarized-blue }
  }
  .node-ussr .node-bg { fill:$pageBg; stroke: $solarized-red; stroke-width:1px }

  .node-usa, .node-ussr {
    .node-stab {
      font-size:12px;
      text-anchor: middle;
      stroke-width:0;
      font-weight:normal;
    }
    .node-title-text {
      text-anchor: middle;
      font-size:18px;
      font-weight:bold;
      opacity:0.8;
      stroke-width:0;
    }
    .node-text {
      text-anchor: middle;
      font-weight:bold;
      font-weight:normal;
      word-spacing: 4px;
    }
    .node-line, .node-title-bg {
      display:none;
    }
    .numBtl {
      font-weight:bold;
    }
  }

  .node-usa {
    .node-title-text, .node-text, .node-stab {
      fill:$solarized-blue;
      stroke: $solarized-blue;
    }
  }

  .node-ussr {
    .node-title-text, .node-text, .node-stab {
      fill:$solarized-red;
      stroke: $solarized-red;
    }
  }

  .node-region-info {
    .node-bg {
      fill:$pageBg;
      stroke: theon(2);
      stroke-width:1px;
    }
    .node-stab {
      display:none;
    }
    .node-title-bg {
      fill:rgba(#000,0);
    }
    .node-title-text {
      fill:  theon(5);
      stroke-width:0;
      font-weight:bold;
      text-anchor:middle;
    }
    .node-line {
      display:none;
    }
    .node-text {
      fill:  theon(4);
      .usa {
        fill:$solarized-blue; 
        font-weight:bold;
      }
      .ussr {
        fill:$solarized-red; 
        font-weight:bold;
      }
      .both {
        fill:mix($solarized-blue, $solarized-red);
        font-weight:bold;
      }
      text-anchor: middle;
      tspan {
      }
      tspan.blank {
        letter-spacing: 4px;
      }
    }

    text {}
    &.node-eu text { fill:$weuDark; }
    &.node-as text { fill:$asDark; }
    &.node-me text { fill:$meDark; }
    &.node-ca text { fill:$caDark; }
    &.node-sa text { fill:$saDark; }
    &.node-af text { fill:$afDark; }

    &.node-eu .node-bg { stroke: $weuDark; }
    &.node-as .node-bg { stroke: $asDark; }
    &.node-me .node-bg { stroke: $meDark; }
    &.node-ca .node-bg { stroke: $caDark; }
    &.node-sa .node-bg { stroke: $saDark; }
    &.node-af .node-bg { stroke: $afDark; }
  }

  .node-ip-usa, .node-ip-ussr {
    text {
      text-anchor: middle;
      stroke-width:0;
      font-size:20px;
      font-weight:bold;
    }
  }
  .node-ip-usa { fill: rgba($solarized-blue, 0.9); }
  .node-ip-ussr { fill: rgba($solarized-red, 0.9); }

  .node-ip-bg-usa, .node-ip-bg-ussr {
    fill:#fff;
    stroke:rgba(#000,0.2);
    stroke-width:1px;
  }

  .node-usa-control {
    .node-ip-bg-usa { fill:$solarized-blue; }
    .node-ip-usa { fill:rgba(#fff,0.9); }
  }

  .node-ussr-control {
    .node-ip-bg-ussr { fill:$solarized-red; }
    .node-ip-ussr { fill:rgba(#fff,0.9); }
  }

  .node-ip-click {
    fill:rgba(0,0,0,0);
    cursor: pointer;
    &:hover {
      fill:rgba(#000, 0.4);
    }
  }

  .node-usa, .node-ussr, .node-region-info {
    .node-ip-click {
      display:none;
    }
  }

  .link {
    stroke: rgba(theon(1), 0.20);
    stroke-width:6px;
  }

  .link-cross {
    stroke-dasharray: 6 3;
  }


  .link-usa {
    stroke:mix($solarized-blue, $pageBg, 70%);
    stroke-dasharray: 6 3;
  }

  .link-ussr {
    stroke:mix($solarized-red, $pageBg, 70%);
    stroke-dasharray: 6 3;
  }

}

.BoardPage-shortcuts {
  margin-bottom:0;
  padding:0;
  dt {
    float:left;
    width:4rem;
    margin-right:1rem;
    text-align:right;
    @extend %StatusLabelShortcut;
  }

  dd {
    margin-bottom:0.5rem;
  }

}

.BoardPage-shortcuts-ip {
  margin-top:1.5rem;
}


%opacityFade {
  opacity:0;
  @include transition(opacity 0.0833333333s ease-out);
  &.in {
    opacity:1;
  }
}


.Board-shortcutMask {
  @extend %noSelect;
  width:100%;
  height:100%;
  background:theon(1);
  opacity:0;
  display:none;
  position:fixed;
  top:0;
  left:0;
  z-index:400;
  @include transition (opacity 0.1s ease-out);
  &.in {
    display:block;
    opacity:0.4;
  }
}



.Board-shortcutContinents {
  @extend %noSelect;
  z-index:410;
}

.Board-shortcut {
  @extend %noSelect;
  background:#ffdc00;
  color:rgba(#000,0.75);
  box-shadow:0 0 6px rgba(#000, 0.3);
  font-weight:bold;
  text-align:center;
}

.Board-shortcutContinent {
  @extend %noSelect;
  line-height:66px;
  width:66px;
  height:66px;
  font-size:40px;
  position:absolute;
  z-index:420;
  color:rgba(#000,0.6);
  @extend %opacityFade;
  @include transform(translate3d(0px,0px,0px));
}

.Board-shortcutCountries {
  @extend %noSelect;
  z-index:420;
  @extend %opacityFade;
}

.Board-shortcutCountry {
  @extend %noSelect;
  width:30px;
  height:24px;
  margin-top:-29px;
  margin-left:7px;
  line-height:24px;
  font-size:14px;
  text-align:center;
  position:absolute;
  z-index:410;
  @extend %opacityFade;
}

.Board-shortcutHeader {
  @extend %noSelect;
  height:70px;
  background:theon(11);
  display:block;
  width:600px;
  padding:0;
  position:fixed;
  border: 1px solid theon(6);
  border-top:0;
  //box-shadow:0 0 9px rgba(theon(1),0.5);
  top:-80px;
  left:50%;
  margin-left:-300px;
  z-index:700;
  box-sizing: border-box;
  @include transition(top 0.1s ease-out);
  &.in {
    // RElative to the board, not the page
    top:0px;
  }
  .copy {
    box-sizing: border-box;
    width:230px;
    display:inline-block;
    text-align: center;
    h3 {
      margin:7px 0 2px; 
    }
    .label {
      a {
        display:inline-block;
        padding:0.6rem;
        &.disabled {
          color:theon(5);
          cursor: default;
        }
      }
    }
  } 
  .chars {
    box-sizing: border-box;
    text-align:center; 
    width:360px;
    display:inline-block;
    position:relative;
    vertical-align: top;
  }
  .shortcut {
    color:$solarized-red;
    font-weight:bold;
  }
}

.Board-ipHeader-ContCount {
  display:inline-block;
  text-align:center;
}

.Board-ipHeader-Continent {
  margin:9px 0 0;
  font-weight:bold;
  line-height:1;
  opacity:0.6;
  width:auto;
}

.Board-ipHeader-Country {
  margin:0;
  line-height:1;
}

.Board-ipHeader-usa,
.Board-ipHeader-ussr {
  font-size:30px;
  font-weight:normal;
  line-height:70px;
  display:inline-block;
  vertical-align:top;
  text-align:center;
  width:80px;
}


.Board-ipHeader-usa { color:$solarized-blue; }
.Board-ipHeader-ussr { color:$solarized-red; }
