@import 'solarized/scss/solarized';

$asia: #F89E2C;
$europe: #9E6AD6;
$middleEast: #A5D9F1;
$centralAmerica: #B1CE9E;
$southAmerica: #81AC64 ;
$africa: #E5DCA7;
$southeastAsia: #F89E2C;


.card {
   
  box-sizing: border-box;
  color:#666;

  &.owner-us { color:$solarized-blue; }
  &.owner-ussr { color:$solarized-red; }
  &.asiaScoring { color: darken($asia,15%); }
  &.europeScoring { color: darken($europe,10%); }
  &.middleEastScoring { color: darken($middleEast,15%); }
  &.centralAmericaScoring { color: darken($centralAmerica,25%); }
  &.southAmericaScoring { color: darken($southAmerica,10%); }
  &.africaScoring { color: darken($africa,35%); }
  &.southeastAsiaScoring { color: darken($southeastAsia,15%); }
}



.card-title-holder {
  height:3.6rem;
  display:table;
  margin-left:4.4rem;
}

.cardList .card-title {
  font-weight: normal;
  display: table-cell;
  line-height:1em;
  margin:0;
  vertical-align:middle;
}

.card-ops {
  display:inline-block;
  box-sizing: border-box;
  text-align:center;
  width:3.6rem;
  height:3.6rem;
  line-height:3.4rem;
  margin:0 0.6rem 0 0;
  color: rgba(#fff,0.9);

  .owner-neutral & {
    background: #777;
  }

  .owner-us & {
    background:$solarized-blue;
  }

  .owner-ussr & {
    background:$solarized-red;
  }

  .asiaScoring & { background: $asia; }
  .europeScoring & { background: $europe; }
  .middleEastScoring & { background: $middleEast; }
  .centralAmericaScoring & { background: $centralAmerica; }
  .southAmericaScoring & { background: $southAmerica; }
  .africaScoring & { background: $africa; }
  .southeastAsiaScoring & { background: $southeastAsia; }

}

.cardList .card {
  padding-right:2rem; 
  position:relative;
  height:3.6rem;
  cursor:pointer;
  margin-bottom:1.4rem;

  &:hover {
    .card-title {
      text-decoration: underline;
    }
  }
}

.cardList .card-ops {
  position: absolute;
  top:0;
  left:0;
}

.cardList .card:hover .card-ops {
}



.cardView {
  p {
    max-width:30em;
    color:#666;
    font-size:18px; 
  }
}


@media screen and (min-width:488px) {
  .cardList {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height:100%;
  }
  .cardList .card {
    flex-basis:calc(100%/2);
  }
}

@media screen and (min-width:768px) {
  .cardList .card {
    flex-basis:calc(100%/3);
  }
}
@media screen and (min-width:992px) {
  .cardList .card {
    flex-basis: calc(100%/4);
  }
}

@media screen and (min-width:1200px) {
  .cardList .card {
    flex-basis: calc(100%/5);
  }
}
