@import 'solarized/scss/solarized';

$asia: #F89E2C;
$europe: #9E6AD6;
$middleEast: #95C4DA;
$centralAmerica: #99B388;
$southAmerica: #6F9655;
$africa: #B9B26D;
$southeastAsia: #F89E2C;


.card {
  &, & a { color:#666; }

}


.owner-us, .owner-us a { color:$solarized-blue; }
.owner-ussr, .owner-ussr a { color:$solarized-red; }
.asiaScoring, .asiaScoring a { color: darken($asia,15%); }
.europeScoring, .europeScoring a { color: darken($europe,10%); }
.middleEastScoring, .middleEastScoring a { color: darken($middleEast,15%); }
.centralAmericaScoring, .centralAmericaScoring a { color: darken($centralAmerica,15%); }
.southAmericaScoring, .southAmericaScoring a { color: darken($southAmerica,10%); }
.africaScoring, .africaScoring a { color: darken($africa,20%); }
.southeastAsiaScoring, .southeastAsiaScoring a { color: darken($southeastAsia,15%); }






.card {
  display:block;
  box-sizing: border-box;
}




.card-title-holder {
  height:3.6rem;
  display:table;
  padding-left:4.4rem;
  margin-bottom:0.4rem;
  &:hover {
    text-decoration:underline;
  }
}

.cardList .card-title {
  font-weight: normal;
  display: table-cell;
  line-height:1em;
  margin:0;
  vertical-align:middle;
}

.card-ops {
  display:inline-block;
  box-sizing: border-box;
  text-align:center;
  width:3.6rem;
  height:3.6rem;
  margin:0 0.6rem 0 0;
  color: rgba(#fff,0.9);

  .owner-neutral & {
    background: #777;
  }

  .owner-us & {
    background:$solarized-blue;
  }

  .owner-ussr & {
    background:$solarized-red;
  }

  .asiaScoring & { background: $asia; }
  .europeScoring & { background: $europe; }
  .middleEastScoring & { background: $middleEast; }
  .centralAmericaScoring & { background: $centralAmerica; }
  .southAmericaScoring & { background: $southAmerica; }
  .africaScoring & { background: $africa; }
  .southeastAsiaScoring & { background: $southeastAsia; }

}

.card-stage {
  position: absolute;
  display:block;
  text-align:center;
  line-height:0.8em;
  left:0;
  top:2.3rem;
  margin:0;
  width:3.6rem;
  padding:0;
  color:rgba(#fff, 0.9);
  z-index:100;
  font-size:10px;
  font-weight:300;
}

.cardList .card {
  padding-right:2rem; 
  position:relative;
  margin-bottom:1.4rem;
  overflow:hidden;
}

.cardList .card-text {
  display:none;
  font-size:14px;
}

.cardList.cardListFull {
  .card {
    height:auto; 
  }
  .card-text {
    display:block;
    margin-top:1rem;
  }

}

.cardList .card-ops {
  position: absolute;
  top:0;
  left:0;
  opacity:0.9;
  line-height:2.5rem;
}

.cardList .card:hover .card-ops {
}


.cardControls {
  a {
    display:inline-block;
    margin:0 0.4em;
    padding:0 0.5em;
  }
  .active {
    text-decoration: underline;
  }
  margin-right:2rem;
}

.cardView {
  p, ul {
    color:#666;
  }
  p a {
    color:#428bca;
    &:hover, &:focus {
      color:#2a6596;
    }
  }
}

@media screen and (min-width:$screen-sm-min) {
  .cardView {
  }
  p, ul {
    max-width:30em;
  }
}


@media screen and (min-width:480px) {
  .cardList {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height:100%;
  }
  .cardList .card {
    flex-basis:calc(100%/2);
  }
}

@media screen and (min-width:768px) {
  .cardList .card {
    flex-basis:calc(100%/3);
  }
}
@media screen and (min-width:992px) {
  .cardList .card {
    flex-basis: calc(100%/4);
  }
}

@media screen and (min-width:1200px) {
  .cardList .card {
    flex-basis: calc(100%/5);
  }
}
