@import 'solarized/scss/solarized';
@import 'groupColors';


.card {
  &, & a { color:darken($mapBg, 66%); }

}


.owner-us, .owner-us a { color:$solarized-blue; }
.owner-ussr, .owner-ussr a { color:$solarized-red; }
.asiaScoring, .asiaScoring a { color: darken($asia,15%); }
.europeScoring, .europeScoring a { color: darken($europe,10%); }
.middleEastScoring, .middleEastScoring a { color: darken($middleEast,15%); }
.centralAmericaScoring, .centralAmericaScoring a { color: darken($centralAmerica,15%); }
.southAmericaScoring, .southAmericaScoring a { color: darken($southAmerica,10%); }
.africaScoring, .africaScoring a { color: darken($africa,20%); }
.southeastAsiaScoring, .southeastAsiaScoring a { color: darken($southeastAsia,15%); }






.card {
  display:block;
  box-sizing: border-box;
}




.card-title-holder {
  height:3.6rem;
  display:table;
  padding-left:4.4rem;
  margin-bottom:0.4rem;
  &:hover {
    text-decoration:underline;
  }
}

.cardList {
  clear:both;
}


.cardList .card-title {
  font-weight: normal;
  display: table-cell;
  line-height:1em;
  margin:0;
  vertical-align:middle;
}

.cardList-groupHeading {
  //margin:-1rem 0 1rem 0; 
  color:darken($mapBg, 30%);
  text-transform:uppercase;
  margin-bottom:2rem;
}

.cardsView--filtered {
  .cardList {
    padding-top:2rem;
  }
  .cardList-groupHeading {
    display:none;
  }
}

.cardsView--fullText {
  .cardList-groupHeading {
    margin-bottom:2rem;
  }  
}
  


.card-ops {
  display:inline-block;
  box-sizing: border-box;
  text-align:center;
  width:3.6rem;
  height:3.6rem;
  margin:0 0.6rem 0 0;
  color: rgba(#fff,0.9);
  border-bottom:1px solid rgba(#000,0.3);

  .owner-neutral & {
    background: darken($mapBg, 56%);
  }

  .owner-us & {
    background:$solarized-blue;
  }

  .owner-ussr & {
    background:$solarized-red;
  }

  .asiaScoring & { background: $asia; }
  .europeScoring & { background: $europe; }
  .middleEastScoring & { background: $middleEast; }
  .centralAmericaScoring & { background: $centralAmerica; }
  .southAmericaScoring & { background: $southAmerica; }
  .africaScoring & { background: $africa; }
  .southeastAsiaScoring & { background: $southeastAsia; }

}

.card-stage {
  position: absolute;
  display:block;
  text-align:center;
  line-height:0.8em;
  left:0;
  top:2.3rem;
  margin:0;
  width:3.6rem;
  padding:0;
  color:rgba(#fff, 0.9);
  z-index:100;
  font-size:10px;
  font-weight:300;
}

.card-id {
  opacity:0.7;
  font-size:0.7em;
}

.cardList .card {
  padding-right:1.6rem; 
  position:relative;
  margin-bottom:1.4rem;
  overflow:hidden;
}

.cardList .card-text {
  display:none;
  font-size:14px;
}

.cardList.cardListFull {
  .card {
    height:auto; 
  }
  .card-text {
    display:block;
    margin-top:1rem;
  }
}

.card.asiaScoring .card-text, .card.southeastAsiaScoring .card-text {
  color:desaturate(darken($asia, 20%),7%);
}

.card.owner-us .card-text {
  color:darken($solarized-blue, 6%); 
}

.card.owner-ussr .card-text {
  color:darken($solarized-red, 12%); 
}

.card.middleEastScoring .card-text {
  color:darken($middleEast, 25%);
}


.cardList .card-ops {
  position: absolute;
  top:0;
  left:0;
  opacity:0.9;
  line-height:2.5rem;
}

.cardList .card:hover .card-ops {
}


.cardControls {
  display: inline-block;
  margin-right:2rem;
  margin-bottom:2rem;
  a {
    display:inline-block;
    margin:0 0.4em;
    padding:0 0.5em;
    cursor:pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  .active {
    color:darken($mapBg,70%);
  }
  label {
  }
}

.cardView {
  p, ul {
  }
  p a {
    color:$solarized-blue;
    &:hover, &:focus {
      color:darken($solarized-blue,12%);
    }
  }
}



.cards-filter-by-id {
  label {
  }
  input {
    width:100%;
  }
}

.cards-filter-by-id-clear {
  cursor:pointer;
  position:absolute;
  right:2rem;
  top:2.3rem;
}




.card-nav {
  color: darken($mapBg,40%);
  width:100%;
  display:table;
}

.card-nav-prev, .card-nav-next {
  padding: 0 0.6em;
  line-height:1em;
  text-align: left;
  font-size:14px;
  box-sizing:border-box;
  display:table-cell;
  vertical-align:middle;
}

.card-nav-arrow {
  font-size:12px;
}

.card-nav-next {
  text-align:right;
}

.card-nav-prev {

}
.card-nav-label {
  color:darken($mapBg,50%);
  font-size:14px;
  display:block;
  margin-top:0.2em;
}

.card-strategy {
  clear:left;
}


@media screen and (min-width:$screen-sm-min) {
  .cardView {
    p, ul, ol {
      max-width:30em;
      font-size:18px;
    }
  }
}


@media screen and (min-width:480px) {
  .cardList {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height:100%;
  }
  .cardList .card {
    flex-basis:calc(100%/2);
  }
}

@media screen and (min-width:768px) {
  .cardList .card {
    flex-basis:calc(100%/3);
  }



  .cardControls {
    margin-bottom:0;
  }
}

@media screen and (min-width:992px) {
  .card-nav {
    position:absolute;
    bottom:1.4rem;
    right:0;
    width:auto;
  }

  .card-nav-prev, .card-nav-next {
    font-size:18px;
    width:auto;
    display:inline-block;
  }
  .card-nav-prev {
    border-right:1px solid darken($mapBg,20%);
  }

  .cardList .card {
    flex-basis: calc(100%/4);
  }
  .cards-filter-by-id {
    right:0;
    label {
      float:left;
      width:30%;
      padding-right: 0.6rem;
      text-align:right;
      a {
        cursor:pointer;
      }
    }
    input {
      margin-top:-0.3rem;
      float:left;
      width:70%;
      padding-right:5rem;
    }
  }
  .cards-filter-by-id-clear {
    top:2px;
    font-size:11px;
    line-height:16px;
    text-transform:uppercase;
    font-weight:bold;
  }

  .card-img-scroll {
      position: fixed;
      top: 2rem;
      margin: 0 !important;
  }
}

@media screen and (min-width:1200px) {
  .cardList .card {
    flex-basis: calc(100%/5);
  }
}
