@import 'solarized/scss/solarized';
$asia: #F89E2C;
$europe: #9E6AD6;
$easternEurope: lighten($europe,10%);
$westernEurope: darken($europe,10%);
$middleEast: #95C4DA;
$centralAmerica: #99B388;
$southAmerica: #6F9655;
$africa: #B9B26D;
$southeastAsia: #F89E2C;

