$icon-font-path: "/bower_components/bootstrap-sass/vendor/assets/fonts/bootstrap/";


$grid-float-breakpoint: 300px;

//@import "../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap.scss";

// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset
@import "bootstrap/normalize";
@import "bootstrap/print";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
//@import "bootstrap/code";
@import "bootstrap/grid";
//@import "bootstrap/tables";
//@import "bootstrap/forms";
//@import "bootstrap/buttons";

// Components
//@import "bootstrap/component-animations";
//@import "bootstrap/glyphicons";
//@import "bootstrap/dropdowns";
//@import "bootstrap/button-groups";
//@import "bootstrap/input-groups";
@import "bootstrap/navs";
@import "bootstrap/navbar";
//@import "bootstrap/breadcrumbs";
//@import "bootstrap/pagination";
//@import "bootstrap/pager";
//@import "bootstrap/labels";
//@import "bootstrap/badges";
//@import "bootstrap/jumbotron";
//@import "bootstrap/thumbnails";
//@import "bootstrap/alerts";
//@import "bootstrap/progress-bars";
//@import "bootstrap/media";
//@import "bootstrap/list-group";
//@import "bootstrap/panels";
//@import "bootstrap/wells";
//@import "bootstrap/close";
//
//// Components w/ JavaScript
//@import "bootstrap/modals";
//@import "bootstrap/tooltip";
//@import "bootstrap/popovers";
//@import "bootstrap/carousel";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";



@import 'bourbon';
@import 'solarized/scss/solarized';
@import 'cards';
@import 'flex';

$fontello-dir: "../fontello/font";
@import 'fontello';

html, body {
  color: #666;
}

body {
  padding-bottom:4rem;
}


img.fluid {
  width:100%;
}

a {
  color: $solarized-blue;
  &:hover {
    text-decoration:none;
  }
}

p {
  font-size:18px; 
}

.navbar {
  border:none;
  border-radius:0;
  border-bottom:1px solid rgba(#000,0.3);
  margin-bottom:0;
  background-color:#333;
  @include background(
    linear-gradient(to right, darken($solarized-blue,1%), darken($solarized-red,1%))
  );
}

.navbar-nav > li > a, .navbar-brand {
  color:rgba(#fff,0.8);
  &:hover {
    color:rgba(#fff,0.9);
    background:rgba(#000,0.1);
  }
}

.page-header {
  margin-top:1rem;
  position:relative;
}

.imgRight {
  display:block;
  border:1px solid #ddd;
  margin:2rem auto;
  max-width:100%;
}

#placeholder {
  display:table;
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  background:rgba(#000,0.2);
  p {
    display:table-cell;
    vertical-align:middle;
    font-size:6rem;
    text-align:center;
    font-weight:bold;
    line-height:1;
    color:#aaa;
    text-shadow: 0px 1px 1px #fff, 0px -1px 1px #666;
  }
}

@media screen and (min-width:$screen-sm-min) {
  .imgRight {
    float:right;
    margin:0 0 1rem 1rem;
  }
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


a[href^="http://"],
a[href^="https://"] {
  display:inline-block;
  &:after {
    content:"\e801";
    font-family:'fontello';
    font-size:0.6em;
    display:inline-block;
    position:relative;
    margin:0 0.2em 0 0.4em;
    line-height:0.5em;
  }
}


#blurb {
  color:rgba(#fff,0.8);
  border-top:1px solid rgba(#000,0.2);
  border-bottom:1px solid rgba(#000,0.2);
  a {
    color:rgba(#fff,0.8);
    font-weight:500;
    &:hover {
      text-decoration:underline;
    }
  }
}

.blurb {
  text-align:center;
  margin:3rem 1rem;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 1140px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }

    #placeholder p {
      font-size:10rem;
    }
}
