$icon-font-path: "/bower_components/bootstrap-sass/vendor/assets/fonts/bootstrap/";


$grid-float-breakpoint: 300px;

//@import "../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap.scss";

// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset
@import "bootstrap/normalize";
@import "bootstrap/print";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
//@import "bootstrap/code";
@import "bootstrap/grid";
//@import "bootstrap/tables";
//@import "bootstrap/forms";
//@import "bootstrap/buttons";

// Components
//@import "bootstrap/component-animations";
//@import "bootstrap/glyphicons";
//@import "bootstrap/dropdowns";
//@import "bootstrap/button-groups";
//@import "bootstrap/input-groups";
@import "bootstrap/navs";
@import "bootstrap/navbar";
//@import "bootstrap/breadcrumbs";
//@import "bootstrap/pagination";
//@import "bootstrap/pager";
//@import "bootstrap/labels";
//@import "bootstrap/badges";
//@import "bootstrap/jumbotron";
//@import "bootstrap/thumbnails";
//@import "bootstrap/alerts";
//@import "bootstrap/progress-bars";
//@import "bootstrap/media";
//@import "bootstrap/list-group";
//@import "bootstrap/panels";
//@import "bootstrap/wells";
//@import "bootstrap/close";
//
//// Components w/ JavaScript
//@import "bootstrap/modals";
//@import "bootstrap/tooltip";
//@import "bootstrap/popovers";
//@import "bootstrap/carousel";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";



@import 'bourbon';
@import 'solarized/scss/solarized';
@import 'cards';
@import 'flex';

$fontello-dir: "../fontello/font";
@import 'fontello';

$mapBg: lighten(desaturate($solarized-green, 90%), 65%);

html, body {
  color: #666;
  background-color:$mapBg;
}

body {
  padding-bottom:4rem;
}


img.fluid {
  width:100%;
}

a {
  color: $solarized-blue;
  &:hover {
    text-decoration:none;
  }
}

p {
  font-size:18px; 
}

label, .label {
  font-weight:normal;
  text-transform:uppercase;
}

.hide {
  display:none !important;
}


.navbar {
  border:none;
  border-radius:0;
  border-bottom:1px solid #ccc;
  margin-bottom:0;
  background-color:#fff;
}

.navbar-nav > li > a {
  color:#999;
  &:hover {
    color:#333;
    background:white;
    text-decoration:underline;
  }
}

.navbar-nav > li.active > a {
  color:#333;
}

.navbar-brand {
  padding:0;
  .twi, .strug {
    display:inline-block;
    padding:15px;
  }
  .twi {
    padding-right:0;
    @extend .owner-us;
  }
  .strug {
    padding-left:0;
    @extend .owner-ussr;
  }

  &:hover {
    .twi { color: darken($solarized-blue, 10%); }
    .strug { color: darken($solarized-red, 10%); }
  }
  
}

.page-header {
  margin-top:2rem;
  position:relative;
  border-bottom:1px solid darken($mapBg,20%);
}

.imgRight {
  display:block;
  border:1px solid #ccc;
  margin:2rem auto;
  max-width:100%;
}

#placeholder {
  display:table;
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  background:rgba(#000,0.2);
  p {
    display:table-cell;
    vertical-align:middle;
    font-size:6rem;
    text-align:center;
    font-weight:bold;
    line-height:1;
    color:#aaa;
    text-shadow: 0px 1px 1px #fff, 0px -1px 1px #666;
  }
}

@media screen and (min-width:$screen-sm-min) {
  .imgRight {
    float:right;
    margin:0 0 1rem 1rem;
  }
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


a[href^="http://"],
a[href^="https://"] {
  display:inline-block;
  &:after {
    content:"\e801";
    font-family:'fontello';
    font-size:0.6em;
    display:inline-block;
    position:relative;
    margin:0 0.2em 0 0.4em;
    line-height:0.5em;
  }
}


#blurb {
  color:rgba(#fff,0.8);
  border-top:1px solid rgba(#000,0.2);
  border-bottom:1px solid rgba(#000,0.2);
  a {
    color:rgba(#fff,0.8);
    font-weight:500;
    &:hover {
      text-decoration:underline;
    }
  }
}

.blurb {
  text-align:center;
  margin:3rem 1rem;
}

[class^="node-"], [class*=" node-"] {
}
.link {stroke: #999; stroke-opacity:0.6;}



$weu: lighten($westernEurope, 18%);
$eeu: lighten($easternEurope, 7%);
$me: lighten($middleEast, 10%);
$as: lighten($asia, 2%);
$sea: lighten($asia, 17%);
$sa: lighten($southAmerica, 14%);
$ca: #E2ECB9;
$af: #F5E696;

$weuDark: desaturate(darken($weu, 30%), 10%);
$eeuDark: desaturate(darken($eeu, 30%), 10%);
$meDark: desaturate(darken($me,50%), 20%);
$asDark: desaturate(darken($as,30%), 10%);
$afDark: desaturate(darken($af,50%), 20%);
$caDark: desaturate(darken($ca,50%), 20%);
$saDark: desaturate(darken($sa,30%), 10%);


%noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.Board {

  //background:url(/images/tsboard.jpg) no-repeat;
  //border:1px solid #b9bdb7;
  background: $mapBg;
  position:relative;
  width:1140px;
  height:730px;
  
  text {
    @extend %noSelect;
    cursor: default;
  }


  .node-eeu .node-bg { fill: $eeu; }
  .node-weu .node-bg, .node-eu .node-bg { fill: $weu; }
  .node-bg-eu { fill: $eeu; }

  .node-weu .node-btl, .node-eeu .node-btl {
    .node-title-bg {
      fill: $weuDark;
    }
  }

  .node-me .node-bg { fill:$me; }
  .node-me.node-btl .node-title-bg { fill: $meDark; }

  .node-as .node-bg, .node-sea .node-bg { fill:$as; }
  .node-bg-sea { fill: $sea; }
  .node-as.node-btl, .node-sea.node-btl {
    .node-title-bg { fill: $asDark; }
  }

  .node-af .node-bg { fill:$af; }
  .node-af.node-btl .node-title-bg { fill: $afDark; }

  .node-ca .node-bg { fill:$ca; }
  .node-ca.node-btl .node-title-bg { fill: $caDark; }

  .node-sa .node-bg { fill:$sa; }
  .node-sa.node-btl .node-title-bg { fill: $saDark; }

  .node {
    stroke-width:0;
  }

  .node-title-bg {
    stroke-width:0;
    fill:rgba(#fff,0.6);
  }
  .node-title-text, .node-stab {
    stroke:rgba(#000, 0.8);
    stroke-width:0.5;
    fill: rgba(#000,0.8);
  }
  .node-stab {
    font-weight:bold;
    stroke-width:0;
  }
  .node-title-text {
    font-size:11px;
  }

  .node-bg {
    stroke: rgba(#000,1);
    stroke-width:0.2px;
  }

  .node-bg-hidden {
    display:none;
  }

  .node-line {
    stroke: rgba(#000, 0.4);
    stroke-width:0.3px;
  }

  .node-btl {
    .node-title-text, .node-stab {
      stroke:rgba(#fff, 0.8);
      stroke-width:0;
      fill: rgba(#fff,0.8);
      //text-anchor:middle;
    }

    .node-title-bg {
      //fill:rgba(#000, 0.5);
    }

    
    &.node-weu, &.node-eeu {
      .node-title-bg {
        fill: darken($westernEurope, 17%);
      }
    }
  
  }

  .node-usa {
    .node-bg { fill:$mapBg; stroke: $solarized-blue; stroke-width:1px }
    .node-title-text { fill:$solarized-blue }
  }
  .node-ussr .node-bg { fill:$mapBg; stroke: $solarized-red; stroke-width:1px }

  .node-usa, .node-ussr {
    .node-stab {
      display:none;
    }
    .node-title-text {
      text-anchor: middle;
      font-size:18px;
      stroke-width:0;
    }
    .node-line, .node-title-bg {
      display:none;
    }
  }

  .node-usa .node-title-text {
      fill:$solarized-blue;
      stroke: $solarized-blue;
  }

  .node-ussr .node-title-text {
      fill:$solarized-red;
      stroke: $solarized-red;
  }

  .node-region-info {
    .node-bg {
      fill:rgba(#000,0);
      stroke:rgba(#000,0.1);
      stroke-width:0;
    }
    .node-stab {
      display:none;
    }
    .node-title-bg {
      fill:rgba(#000,0);
    }
    .node-title-text {
      stroke:#333;
      stroke-width:0;
      fill:#333;
      font-weight:bold;
      text-anchor:middle;
    }
    .node-line {
      display:none;
    }
    .node-text {
      text-anchor: middle;
      font-weight:bold;
      word-spacing: 4px;
    }
    &.node-eu text { fill:$weuDark; }
    &.node-as text { fill:$asDark; }
    &.node-me text { fill:$meDark; }
    &.node-ca text { fill:$caDark; }
    &.node-sa text { fill:$saDark; }
    &.node-af text { fill:$afDark; }

    //&.node-eu .node-bg { fill:lighten($weu, 20%); }
    //&.node-as .node-bg { fill:lighten($as, 20%); }
    //&.node-me .node-bg { fill:lighten($me, 15%); }
    //&.node-ca .node-bg { fill:lighten($ca, 10%); }
    //&.node-sa .node-bg { fill:lighten($sa, 25%); }
    //&.node-af .node-bg { fill:lighten($af, 15%); }
  }

  .node-ip-usa, .node-ip-ussr {
    text {
      text-anchor: middle;
      stroke-width:0;
      font-size:20px;
      font-weight:bold;
    }
  }
  .node-ip-usa { fill: rgba($solarized-blue, 0.9); }
  .node-ip-ussr { fill: rgba($solarized-red, 0.9); }

  .node-ip-bg-usa, .node-ip-bg-ussr {
    fill:#fff;
    stroke:rgba(#000,0.2);
    stroke-width:1px;
  }

  .node-usa-control {
    .node-ip-bg-usa { fill:$solarized-blue; }
    .node-ip-usa { fill:rgba(#fff,0.9); }
  }

  .node-ussr-control {
    .node-ip-bg-ussr { fill:$solarized-red; }
    .node-ip-ussr { fill:rgba(#fff,0.9); }
  }

  .node-ip-click {
    fill:rgba(0,0,0,0);
    cursor: pointer;
    &:hover {
      fill:rgba(#000, 0.4);
    }
  }

  .node-usa, .node-ussr, .node-region-info {
    .node-ip-click {
      display:none;
    }
  }

  .link {
    stroke:rgba(#000,0.4);
    stroke-width:6px;
  }

  .link-cross {
    stroke-dasharray: 6 3;
  }

  %link-superpower {
  }

  .link-usa, .link-ussr {
    @extend %link-superpower;
  }

  .link-usa {
    stroke:$solarized-blue;
    stroke-dasharray: 6 3;
  }

  .link-ussr {
    stroke:$solarized-red;
    stroke-dasharray: 6 3;
  }

}


.BoardStatus {
  width: 260px;
  height: 200px;
  position:absolute;
  right:20px;
  bottom:0;

  .col {
    float:left;
    width:50%;
  }

  dt {
    @extend %noSelect;
    cursor:default;
    width:40%;
    float:left;
    clear:both;
    padding-top:5px;
    text-align: right;
    color:darken($mapBg,50%); 
  }

  dd {
    @extend %noSelect;
    width:60%;
    display:inline-block;
    text-align:left;
    font-size:20px;
    font-weight:bold;
    line-height:1.4;

    .divider {
      opacity:0.5;
    }
  }

  .prop-usa, .prop-ussr {
    @extend %noSelect;
    cursor:default;
  }

  .StatusValue.usa .val {
    color: $solarized-blue;
  }

  .StatusValue.ussr .val {
    color: $solarized-red;
  }

  .val {
    @extend %noSelect;
    cursor:default;
    display:inline-block;
    width:20px;
    text-align:center;
    &.usa { color: $solarized-blue; }
    &.ussr { color: $solarized-red; }
  }

  .dec, .inc {
    @extend %noSelect;
    display:inline-block;
    font-family: 'Comic Sans MS';
    color:darken($mapBg, 14%);
    font-size:15px;
    padding:2px 4px;
    cursor:pointer;

    &:hover {
      color: darken($mapBg, 50%);
    }
  }

}


.map-position-debug {
  display:none;
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 1140px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }

    #placeholder p {
      font-size:10rem;
    }
}
