$icon-font-path: "/bower_components/bootstrap-sass/vendor/assets/fonts/bootstrap/";
$fontello-dir: "../fontello/font";
@import 'fontello';

$grid-float-breakpoint: 300px;

$theonLgts: 14 20 28 37 43 50 58 67 75 84 91 95 !default;
$theonSats: 3  3  3  4  5  5  5  5  5  6  7  9 !default;

@import 'bootstrapModules';
@import 'bourbon';
@import 'solarized/scss/solarized';
@import 'theon/theon';
@import 'utils';
@import 'flip';
$pageBg: theon(12);

@import 'scaffolding';
@import 'navbar';
@import 'cards';
@import 'stateHistory';
@import 'board';
@import 'boardDivNodes';
@import 'boardStatus';
@import 'homePage';
@import 'aboutPage';



a {
  color: $solarized-blue;
  &:hover {
    text-decoration:none;
  }
}

a[href^="http://"],
a[href^="https://"] {
  display:inline-block;
  &:after {
    content:"\e803";
    font-family:'fontello';
    font-size:0.6em;
    display:inline-block;
    position:relative;
    margin:0 0.2em 0 0.4em;
    line-height:0.5em;
  }
}

p, li, dt, dd {
  font-size:16px; 
}


label, .label {
  @extend %label;
  line-height:16px;
}

h1,h2,h3 {
  color: theon(5);
}

p strong {
  color:theon(5);
}

blockquote {
  border-left:5px solid theon(10);
}



#placeholder {
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  background:rgba(#000,0.2);
  p {
    margin-top:30rem;
    font-size:9rem;
    text-align:center;
    font-weight:bold;
    line-height:1;
    color: theon(6);
    text-shadow: 0px 1px 1px #fff, 0px -1px 1px #666;
  }
}



.img {
  border:1px solid theon(7);
}

.img-fluid {
  width:100%;
  display:block;
}

a.img-link {
  &:after {
    content:'';
    display:none;
  }
}

.img-center {
  margin:0 auto;
}

