
.icon-th-large:before { content: '\e800'; } /* '' */
.icon-align-left:before { content: '\e801'; } /* '' */
.icon-th:before { content: '\e802'; } /* '' */
.icon-link-ext:before { content: '\e803'; } /* '' */